.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  width: 100%;
  max-width: 60rem; /* Adjust the max-width value as needed */
  margin: 0 auto;
  text-align: center;
  font-family: sans-serif;
  /* text-align: justify; */
}
